@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Source+Code+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Symbols:wght@100..900&display=swap');

h1 {
  color:#01004E;
  flex-grow: 1;      /* To raztegne naslov čez ves razpoložljiv prostor */
  text-align: center; /* Centrira besedilo znotraj tega prostora */
  margin: 0;
  white-space: nowrap; /* Prepreči prelom v novo vrstico */
  font-size: 1.4rem;    /* Malenkost zmanjšaj, če je naslov še vedno predolg za zaslon */
}

body {
  margin: 0 auto !important;
  max-width: 50em !important;
/*  background-color: red;*/
  padding: 0 2em;
  font-family: "Inter";
}

html,
body {
  height: 100%;
  margin: 0;
}

header {
    position: absolute; /* To postavi logotip neodvisno od ostalega besedila */
    top: 10px;          /* Razmik od vrha */
    left: 10px;         /* Razmik od leve strani - tukaj nastavljaš "levo" */
    z-index: 1000;      /* Poskrbi, da je logotip vedno na vrhu */
}

.header-logo {
    width: 50px;        /* Prilagodi velikost logotipa po želji */
    height: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #01004E;
  color: white;
  font-family: "Inter";
}

h1 {
  font-family: "Inter", monospace !important;
}

.title {
  font-family: "Inter", sans-serif !important;
  font-size: 1.5rem;
}

a {
  text-decoration: none !important;
  display: block;
  padding: 0.5rem 1rem;
}

li.parent {
  pointer-events: none;
  transition: background-color 0.7s ease-out;
}

.list-group-item {
  padding: 0 !important;
}

a.child {
  pointer-events: auto;
}

li.parent:hover {
  background-color: lightblue;
}

.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

#poletna-sola {
  padding: 0;
}

.naslovSkupine {
  color:#01004E;
  font-size: 1.5rem;
}
.naslovProjekta, .naslovSkupine {
  font-family: "Inter", monospace !important;
}

h3 {
  font-size: 1;
}

.header-logo {
  height: 50px;
}