body{ background-color:burlywood;
      text-align: center;
     }
ul {
  list-style-type: none;
  margin: 50px;
  padding: 5px;
  background-color:#333;
  display:flex;
  justify-content: center;
  background-color:antiquewhite;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 50px;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  color: darkred;
  margin-left: 50px;
}

ul li a:hover {
  background-color: #111111;
  background-color: turquoise;
}

p{
  font-size: 20px;
}

h1{
  font-size: 50px;
}

button{
  padding: 10px;
  background-color: #FAEBD7;
  font-size: 90px;
  color: darkred;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 10px;
  border-radius: 20px;
  transition-duration: 0.4s;
}

button:hover{
  background-color: turquoise;
  color: white;
  font-size: 105px;
  border-width: 15px;
}