body {
	background-color: #DEB887;
}


button{
	padding: 10px;
	background-color: #FAEBD7;
	font-size: 90px;
	color: darkred;
	padding-bottom: 30px;
	padding-top: 30px;
	margin: 10px;
	border-radius: 20px;
	transition-duration:0.4s ;
}

button:hover {
  background-color: turquoise; 
  color: white;
  font-size: 105px;
  border-width:15px
}

h1{
	font-size: 50px;
}

p{
	font-size: 22px;
	margin-top: 10px;
}

div{
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 50px;
}

b{
	color: darkred;
}

#kviz{
	padding-left: 100px;
	padding-right: 100px;
}



