body{
	background-color: burlywood;
	text-align: center;
}

button{
	background-color: #FAEBD7;
	font-size: 40px;
	width: 100%;
	margin-top: 30px;

	
}


h1{
	font-size: 50px;
}


