body {
	background-color: aliceblue;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #588aa7;
}

.nav ul li {
  float: left;
}

.nav ul li a {
  display: block;
  color: #d6faff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav ul li a:hover {
  background-color: #111111;
}
h1 {
	color: midnightblue;
}
img {
	height: 300px;
	width: 300px;
}
button {
	border: none;
	background-color: #6df1ff;
	height: 40px;
	width: 250px;
}
p {
	  font-family: monospace;
}