body{
	background-image: url(Ozadje.jpg);
	background-repeat: no-repeat;
	background-size: 1280px;
	background-position: top-center;
	font-family: "Gill Sans", sans-serif;
	text-align: start;


img{
	height: 200px;
	width: 320px;
}



}
.links {
	background-color: #EEE8AA ;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	border: 3px solid #00014e;

	position: sticky;
	top: 0;

}
.links li{
	background-color: #FAFAD2;

	margin: 10px;
	padding: 20px;

	font-size: 15px;
	color: #FFFFE0;

	width: 80px;
	height: 40px;

	border: 2px solid #00014e;

	transform: scale(1);
	transition: .5s ease-in-out;

	text-shadow:
                -0.5px -0.5px 0 #000,
                0.5px -0.5px 0 #000,
                -0.5px 0.5px 0 #000,
                0.5px 0.5px 0 #000,
                -1px 0.5px 0 #000,
                1px 0.5px 0 #000,
                0.5px -1px 0 #000,
                0.5px 1px 0 #000;
}


.links li:hover {
	transform: scale(1.1);
	background-color: #FFE4B5;

}
a {
	text-decoration: none;  
	color: #FFD700;
	

}
h1 {
	color: #EEE8AA;
	text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000,
                -2px 1px 0 #000,
                2px 1px 0 #000,
                1px -2px 0 #000,
                1px 2px 0 #000;
}
p {
	margin: 0 50px;
	color:#F0E68C;
	font-size: 20px;
	text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000,
                -2px 1px 0 #000,
                2px 1px 0 #000,
                1px -2px 0 #000,
                1px 2px 0 #000;
}
button{
	margin: 8px;
	padding: 7px;
	background-color: #EEE8AA;
	color: #EEE8AA;
	text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000,
                -2px 1px 0 #000,
                2px 1px 0 #000,
                1px -2px 0 #000,
                1px 2px 0 #000;

}

.links {
background-color: #EEE8AA ;
display: flex;
flex-direction: row;
flex-wrap: wrap;

border: 3px solid #00014e;

position: sticky;
top: 0;

}
.links li{
background-color: #FAFAD2;

margin: 10px;
padding: 20px;

font-size: 15px;
color: #FFFFE0;

width: 80px;
height: 40px;

border: 2px solid #00014e;

transform: scale(1);
transition: .5s ease-in-out;

text-shadow:
-0.5px -0.5px 0 #000,
0.5px -0.5px 0 #000,
-0.5px 0.5px 0 #000,
0.5px 0.5px 0 #000,
-1px 0.5px 0 #000,
1px 0.5px 0 #000,
0.5px -1px 0 #000,
0.5px 1px 0 #000;
}


.links li:hover {
transform: scale(1.1);
background-color: #FFE4B5;