body {
	background-color: aliceblue;
}

#grid{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#vsebina{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#white{
	background-color: #b5bbda;
	width: 700px;
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#meni{
	width: 100%;
	background-color: #b5bbda;
	height: 50px;
	margin-bottom: 20px;
}

#meni ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

#meni a {
	color: darkblue;
	text-decoration: none;
	padding: 16px 16px;
	font-weight: bolder;
}

#meni a:hover {
	background-color: aliceblue;
}

