
body{
 background-color: skyblue;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: skyblue;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}
  
#grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
'rakovica raksamotar Obalnakozica rakvivi'
	'rakovicaslika  rak-samotar-1 kozica  viti '
	

	;
}
.rakovica {
	grid-area: rakovica;

}
.rakovicaslika {
	grid-area: rakovicaslika;
}

.raksamotar{
	grid-area: raksamotar;
}

.Obalnakozica{
	grid-area:Obalnakozica;
}
.Rakviti{
	grid-area:rakvivi;
}
.rak-samotar-1{
	grid-area:rak-samotar-1;
}
.viti{
	grid-area: viti;

}
.kozica{
	grid-area:kozica ;
}
.Klapavice{
	grid-area:Klapavice ;
}
.ostrige{
	grid-area:ostrige;
}
.ostrigeslika{
	grid-area:ostrigeslika;
}
.Klapaviceslika{
	grid-area:Klapaviceslika ;
}
.Pegavka{
	grid-area:pegavka ;
}
.Latvica{
	grid-area:Latvica;}

.pegavkaslika{
	grid-area:pegavkakaslika ;
}
.Latvicaslika{
	grid-area:Latvicaslika;
}
#grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
  'Klapavice ostrige pegavka Latvica'
	'Klapaviceslika ostrigeslika pegavkakaslika Latvicaslika';
}
.Meduze{
	grid-area:meduze ;
}
.Lignji{
	grid-area:Lignji;
}
.Ribe{
	grid-area:ribe;
}
.Ribeslika{
	grid-area:Ribeslika ;
}
.Meduzeslika{
	grid-area:Meduzeslika ;
}
.Hobotnice{
	grid-area:Hobotnice;}

.Hobotniceslika{
	grid-area:Hobotniceslika ;
}
.Lignjislika{
	grid-area:Lignjislika;
}
#grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
  'ribe Hobotnice Lignji Meduze'
	'Klapaviceslika  Hobotniceslika Lignjislika Meduzeslika';
}
#grid{
	border: solid 5px darkblue;
background-color: lightblue;
}
#grid2{
	border: solid 5px darkblue;
		background-color: lightblue;
}#grid3{
	border: solid 5px darkblue;
	background-color: lightblue;
}

	button {
  border: lined thick;
  color: wite;
  padding: 5px 5px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: blue;
  width: 300px;
    height: 120px;
    font-size: 20px;
    margin: 20px;
    transition: .2s linear;
    border: 5px double rgba(163, 26, 26, 0.6);
    border-radius: 10px;
    font: 700 1.5em/ 1.25 ubuntu, sans-serif;
    
}
button:hover {
    background-color: rgba(12, 26, 26, 0.6);
}
button:hover {
    transform: translateY(5px);
}