body {
  background-color: greenyellow;
  background-image: url(../slike/ekosistemi3_index.jpg);
  background-size: cover;
  color: white;
}

h2{
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9e4610;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: brown;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

#ekosistemi{
  background-color: #9e4610;
  border: ;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}